altair
numpy
pandas
pydeck
streamlit
opencv-contrib-python==4.5.5.64
streamlit-drawable-canvas==0.8.0
svgpathtools
svgwrite
matplotlib
scikit-learn
scikit-image
google-cloud-firestore
firebase_admin
torch==2.4